<header class="home-page">
            <!-- main menu -->
            <nav class="navbar main-menu">
                <div class="main-menu-inner">
                    <a class="navbar-main-logo" href="index.html">
                        <svg class="fix-logo" viewBox="0 0 196.3 84.2" style="enable-background:new 0 0 196.3 84.2;">
                            <g>
                                <path fill="#fff" d="M111.8,82.2c-11.3,0-21.4-4.7-28.7-12.2h-2.7c7.7,8.7,19,14.2,31.5,14.2s23.7-5.5,31.5-14.2h-2.7
                                    C133.2,77.5,123,82.2,111.8,82.2z"/>
                                <path fill="#fff" d="M111.8,2C124,2,135,7.5,142.3,16.2h2.6C137.2,6.3,125.2,0,111.8,0S86.4,6.3,78.7,16.2h2.6
                                    C88.6,7.5,99.6,2,111.8,2z"/>
                                <path fill="#fff" d="M32.8,23.9c-3.4-2.8-7.9-4.2-13.6-4.2h-7.8H0v44.8h11.4h1V51.6h6.2c3.7,0,7.1-0.6,9.9-1.8
                                    c2.9-1.2,5.1-3,6.8-5.5c1.7-2.5,2.5-5.4,2.5-8.8C37.8,30.6,36.1,26.7,32.8,23.9z M23.5,40.4c-1.3,1.1-3,1.6-5.2,1.6h-5.9V30h5.8
                                    c2.2,0,4,0.5,5.3,1.5c1.3,1,1.9,2.5,1.9,4.4C25.4,37.8,24.8,39.3,23.5,40.4z"/>
                                <path fill="#fff" d="M73.5,48.8c2.9-1.2,5.1-3,6.7-5.3c1.6-2.3,2.4-5.1,2.4-8.4c0-4.5-1.3-8-4-10.7c-0.6-0.6-1.4-1.2-2.1-1.7
                                    c-0.5-0.4-1.1-0.7-1.7-1c-2.9-1.4-6.4-2.1-10.7-2.1H43.1v44.8h12.4V50.9h5.4l9,13.6h6.3h2.4h5.7L73.5,48.8z M68.5,39.8
                                    c-1.2,1-2.8,1.4-4.9,1.4h-8.2V30.6h8.1c2.1,0,3.8,0.4,5,1.3c1,0.8,1.6,1.9,1.7,3.4c0,0.2,0,0.3,0,0.5c0,0.8-0.1,1.5-0.4,2.1
                                    C69.6,38.7,69.2,39.3,68.5,39.8z"/>
                                <polygon fill="#fff" points="145,19.7 142.2,19.7 142.2,64.5 145,64.5 147.4,64.5 154.6,64.5 154.6,48.5 175.8,48.5 175.8,38.2 
                                    154.6,38.2 154.6,30.6 178,30.6 178,19.7 147.4,19.7  "/>
                                <polygon fill="#fff" points="184,19.7 183.9,19.7 183.9,64.5 184,64.5 196.3,64.5 196.3,19.7  "/>
                                <circle fill="#fff" cx="111.8" cy="42.1" r="10.1"/>
                                <path fill="#fff" d="M85.9,42.1c0,14.3,11.6,25.9,25.9,25.9s25.9-11.6,25.9-25.9c0-14.3-11.6-25.9-25.9-25.9S85.9,27.8,85.9,42.1z
                                     M135.7,42.1c0,13.2-10.7,23.9-23.9,23.9S87.9,55.3,87.9,42.1c0-13.2,10.7-23.9,23.9-23.9S135.7,28.9,135.7,42.1z"/>
                            </g>
                        </svg>        
                        <svg class="scroll-logo" viewBox="0 0 196.3 84.2" style="enable-background:new 0 0 196.3 84.2;">
                            <g>
                                <path fill="#466A96" d="M111.8,82.2c-11.3,0-21.4-4.7-28.7-12.2h-2.7c7.7,8.7,19,14.2,31.5,14.2s23.7-5.5,31.5-14.2h-2.7
                                    C133.2,77.5,123,82.2,111.8,82.2z"/>
                                <path fill="#466A96" d="M111.8,2C124,2,135,7.5,142.3,16.2h2.6C137.2,6.3,125.2,0,111.8,0S86.4,6.3,78.7,16.2h2.6
                                    C88.6,7.5,99.6,2,111.8,2z"/>
                                <path fill="#466A96" d="M32.8,23.9c-3.4-2.8-7.9-4.2-13.6-4.2h-7.8H0v44.8h11.4h1V51.6h6.2c3.7,0,7.1-0.6,9.9-1.8
                                    c2.9-1.2,5.1-3,6.8-5.5c1.7-2.5,2.5-5.4,2.5-8.8C37.8,30.6,36.1,26.7,32.8,23.9z M23.5,40.4c-1.3,1.1-3,1.6-5.2,1.6h-5.9V30h5.8
                                    c2.2,0,4,0.5,5.3,1.5c1.3,1,1.9,2.5,1.9,4.4C25.4,37.8,24.8,39.3,23.5,40.4z"/>
                                <path fill="#466A96" d="M73.5,48.8c2.9-1.2,5.1-3,6.7-5.3c1.6-2.3,2.4-5.1,2.4-8.4c0-4.5-1.3-8-4-10.7c-0.6-0.6-1.4-1.2-2.1-1.7
                                    c-0.5-0.4-1.1-0.7-1.7-1c-2.9-1.4-6.4-2.1-10.7-2.1H43.1v44.8h12.4V50.9h5.4l9,13.6h6.3h2.4h5.7L73.5,48.8z M68.5,39.8
                                    c-1.2,1-2.8,1.4-4.9,1.4h-8.2V30.6h8.1c2.1,0,3.8,0.4,5,1.3c1,0.8,1.6,1.9,1.7,3.4c0,0.2,0,0.3,0,0.5c0,0.8-0.1,1.5-0.4,2.1
                                    C69.6,38.7,69.2,39.3,68.5,39.8z"/>
                                <polygon fill="#466A96" points="145,19.7 142.2,19.7 142.2,64.5 145,64.5 147.4,64.5 154.6,64.5 154.6,48.5 175.8,48.5 175.8,38.2 
                                    154.6,38.2 154.6,30.6 178,30.6 178,19.7 147.4,19.7  "/>
                                <polygon fill="#466A96" points="184,19.7 183.9,19.7 183.9,64.5 184,64.5 196.3,64.5 196.3,19.7  "/>
                                <circle fill="#466A96" cx="111.8" cy="42.1" r="10.1"/>
                                <path fill="#466A96" d="M85.9,42.1c0,14.3,11.6,25.9,25.9,25.9s25.9-11.6,25.9-25.9c0-14.3-11.6-25.9-25.9-25.9S85.9,27.8,85.9,42.1z
                                     M135.7,42.1c0,13.2-10.7,23.9-23.9,23.9S87.9,55.3,87.9,42.1c0-13.2,10.7-23.9,23.9-23.9S135.7,28.9,135.7,42.1z"/>
                            </g>
                        </svg>
                    </a>
                    <span class="mobile-menu-btn">
                    	<span></span>
                    	<span></span>
                    	<span></span>
                    </span>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="wsdindex.html#home">Home <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="index-central-logo.html">Central Logo</a></li>
                                <li><a href="index-slider.html">Slider</a></li>
                                <li><a href="index-background-video.html">Video</a></li>
                                <li class="active"><a href="index.html">Parallax</a></li>
                            </ul>
                        </li>
                        <li><a href="wsdindex.html#info-block">Services</a></li>
                        <li><a href="wsdindex.html#team">Team</a></li>
                        <li><a href="wsdindex.html#products">Products</a></li>
                        <li><a href="wsdindex.html#pricing-block">Pricing</a></li>
                        <li><a href="wsdindex.html#counter-block">Counter</a></li>
                        <li><a href="wsdindex.html#customers">Customers</a></li>
                        <li><a href="wsdindex.html#news">News</a></li>
                        <li><a href="wsdindex.html#contacts">Contacts</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="reserve"><a href="wsdindex.html#">Contact us</a></li>
                    </ul>
                </div>
            </nav>
            <!-- main menu -->
        </header>