.profi-style-switcher {
	position: fixed;
	top: 20%;
	left:-205px;
	width:200px;
	z-index: 9999;
	background: #fff;
	padding:10px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
	-webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}
.profi-style-switcher.active {
	left:0;
	-webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.switcher-head {
	position: relative;
}
.switcher-head span {
	display: block;
}
.switcher-head .btn-danger {
	border: 2px solid #D9534F;
	background-color: transparent;
	color:#D9534F;
}
.switcher-head .switcher-trigger {
	cursor: pointer;
	position:absolute;
	right:-60px;
	color:#fff;
	top:0;
	text-shadow: 0px 0px 1px #000;
	font-size:2em;
	-webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}
.profi-style-switcher.active .switcher-head .switcher-trigger {
	right:0;
	color:#333;
	-webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}


.switcher-option-color {
	padding:10px;
	width: 130px;
}
.switcher-option-color li {
	display:block;
	width:30px;
	height:30px;
	cursor: pointer;
	opacity:.8;
	margin:3px;
	float:left;
	border:1px solid transparent;
	-webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.switcher-option-color li:hover,
.switcher-option-color li.active {
	border: 1px solid rgb(119, 116, 116);
	box-shadow: 0px 0px 0px 2px #fff inset;
}

@media only screen and (max-width: 767px) {
	.profi-style-switcher {
		top: 13%;
	}
}























